<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="D:\home\site\wwwroot;D:\home\site\wwwroot\site-packages" />
        <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
        <add key="DJANGO_SETTINGS_MODULE" value="clayr.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Python_FastCGI"
                path="handler.fcgi"
                verb="*"
                modules="FastCgiModule"
                scriptProcessor="D:\Python27\python.exe|D:\Python27\Scripts\wfastcgi.py"
                resourceType="Either"
                requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Django Application" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
